// Colours
$white: #EEE;
$black: #111;
$gray: #777;
$ink: #062F4F;
$posy: #813772;
$embers: #B82601;

// Padding / Margin
$basePadding: 1em;

// Font sizes
$baseSize: 137.5%;
$siteButton: 1em;

// Fonts
$baseFont: serif;