// Colours
$white: #EEE;
$black: #111;
$gray: #777;
$ink: #062F4F;
$posy: #813772;
$embers: #B82601;

// Padding / Margin
$basePadding: 1em;

// Font sizes
$baseSize: 137.5%;
$siteButton: 1em;
$h1: 4.242rem;
$h2: 2.828rem;
$h3: 1.414rem;
$h4: 0.707rem;
$h5: 0.4713333333333333rem;
$h6: 0.3535rem;
$lead: 1.414rem;
$paragraph: 1.1rem;

// Fonts
$baseFont: serif;